@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
.red{
    color:red;
}
.title{
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
}
div{
display:flex;
flex-direction: column;
justify-content: center;
}
